# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented dirs via nyc
.nyc_output

# Display / Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
/coverage
/.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# Builds
dist/
tmp/
out/
build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# GCP / Local Cli Temp files
gcloud-temp.zip
google-cloud-sdk/
C:\Users\sahil\.gemini\antigravity-ide\
